<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--This permission is required to use the ExoPlayer for Android >= 33-->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

</manifest>